@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script type="text/javascript">
        jQuery(function($) {
        });
    </script>
}

@*<div>
    <h3>Checking sign!!!</h3>
    <object id="cadesplugin" type="application/x-cades" class="hiddenObject"></object>
</div>*@